.playlist-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem;
}

.playlist-titles {
    border: 2px solid var(--color-white);
    padding: 1rem;
}

.playlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 2px solid var(--color-white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}