@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-main {
    background: radial-gradient(circle at 26% 27%, rgba(28, 26, 130, 1) 6%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    /* background: url("../assets/background.png") no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}

.register-wrapper {
    background-color: var(--color-background);
    width: 350px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin-right: 80px;
}

.register-wrapper > h2 {
    text-align: center;
    font-size: var(--font-size-h4);
}

.register-wrapper .form {
    position: relative;
    width: 100%;
    height: 1.5rem;
    margin: 0 0 1.5rem 0;
}

.register-wrapper .form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    border: 2px solid var(--color-secondary);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: var(--font-size-small);
}

.register-wrapper .form input:focus {
    border-color: var(--color-primary);
}

.register-wrapper .form.error input {
    border: 2px solid var(--color-danger);
}

.register-wrapper .form .icon {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 20px;
    font-size: var(--font-size-small);
    color: var(--color-secondary);
}

.register-wrapper button {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--color-secondary);
    color: white;
    font-size: var(--font-size-p);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
    font-weight: 700;
    transition: background-color 250ms ease;
}

.register-wrapper button:hover {
    background-color: hsl(from var(--color-primary) h s 50%);
}

.register-wrapper .login-account {
    font-size: var(--font-size-small);
    text-align: center;
    margin: 1rem 0.75rem;
}

.register-wrapper .login-account p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-wrapper .login-account p a:hover {
    text-decoration: underline;
}

.register-wrapper .button-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;
}

.register-wrapper .form-text {
    margin: 0;
    font-size: var(--font-size-small);
}

.register-wrapper hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid white;
}

.register-wrapper input[type="date"] {
    font-family: var(--font-family);
}

.register-wrapper button[type="submit"] {
    background-color: var(--color-primary);
    margin-top: 0.5rem;
}

@media screen and (max-width: 450px) {
    .register-main {
        justify-content: center;
        align-items: center;
    }

    .register-wrapper {
        margin-right: 0;
    }
    
}